
.vs/BloodSim/v15/.suo
.vs/BloodSim/v15/.suo
.vs/BloodSim/v15/.suo
.vs/BloodSim/v15/Server/sqlite3/storage.ide
.vs/BloodSim/v15/.suo
*.pdb
Content/obj/Windows/.mgcontent
.vs/BloodSim/v15/.suo
obj/x86/Debug/BloodSim.exe
obj/x86/Debug/BloodSim.csprojResolveAssemblyReference.cache
obj/x86/Debug/BloodSim.csproj.FileListAbsolute.txt
